.side-bar
  
  = render 'layouts/side_bar'

.chat
  .chat-header
    .left-header
      .current-group 
        グループ名
      %ul.member-list
        Member :
        %li.member
          メンバー名
        %li.member
          メンバー名
        %li.member
          メンバー名
    = link_to "#" do
      .right-header
        Edit
  .messages
    .message
      .upper-info
        %p.upper-info__user ユーザー名
        %p.upper-info__date 2019/05/27(Mon) 13:47
      %p.message__text メッセージ
    .message
      .upper-info
        %p.upper-info__user ユーザー名
        %p.upper-info__date 2019/05/27(Mon) 13:47
      %p.message__text メッセージ
    .message
      .upper-info
        %p.upper-info__user ユーザー名
        %p.upper-info__date 2019/05/27(Mon) 13:47
      %p.message__text メッセージ
  .form
    = form_for [@group, @message], :url => {action: :create}, :html => {class: "new-message"} do |f|
      .form-message
        = f.text_field :content, class: "form-message__text", placeholder: "type a message"
        .file-upload
          = f.label :image, class: "file-relation", for: "file-image" do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, id: "file-image", class: "hidden"
      .form-btn
        = f.submit 'Send', class: "form-btn__btn"
