.side-header
  .header__left
    = current_user.name
  .header__right
    %ul.lists
      %li{class: "list list--edit--icon"}
        = link_to new_group_path do
          %i.fa.fa-edit
      %li{class: "list list--gear--icon"}
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
.groups
  - current_user.groups.each do |group|
    .group
      = link_to group_messages_path(group) do
        .group__group--name
          = group.name
        .group__new--message 
          = group.show_last_message